{% extends 'base.html' %}

{% block content %}
  <h1>Qute.co</h1>
  <p>
    Just another <a href="http://bash.org">bash.org</a> clone. It's meant to
    make it super easy to spin up your own QDB instance on heroku. Try it out
    by following the instructions in the Readme. Please fork and submit pull
    requests!  Find the source at
    <a href="https://github.com/noah256/qute">https://github.com/noah256/qute</a>.
  </p>
  <p>
    Qute is a project of <a href="http://www.noahsilas.com">Noah Silas</a>
    (<a href="http://twitter.com/noah256">@noah256</a>)
  </p>
{% endblock content %}
