{% extends 'base.html' %}

{% block extra_head %}
  <link rel="stylesheet" href="{{STATIC_URL}}css/qdb.css">
{% endblock extra_head %}

{% block content %}
  <ul class="quote-list">
    <li>
      <div class="score" data-quote='{{quote.id}}'>
        <a href="#" class="upvote"   data-quote='{{quote.id}}'>&uarr;</a>
        <span class="novote"         data-quote='{{quote.id}}'>{{ quote.score|default:0 }}</span>
        <a href="#" class="downvote" data-quote='{{quote.id}}'>&darr;</a>
      </div>
      <blockquote>
        {{ quote.body|linebreaks }}
      </blockquote>
    </li>
  </ul>
{% endblock content %}

{% block scripts %}
{{block.super}}
<script src="{{STATIC_URL}}js/qdb.js"></script>
{% endblock scripts %}
